/* side bar composition */
.flex {
  display: flex; 
  min-height: 100rem;
}
.filler-div {
  background-color: #ccc;
  width: 60%;
}

.sidebar {
  width: 40%;
  background: #f4f4f4;
}


.nav-dropdown{
  display: inline-block;
  min-width: 100%; 
} 

.block {
  display: block;
  padding: .5REM;
}